.DS_Store
node_modules
.worktrees
.sst
.env
.idea
.vscode
*~
playground
tmp
dist
ts-dist
.turbo
**/.serena
.serena/
/result
refs
Session.vim
opendoc.json
a.out
target
.scripts

# Local dev files
opendoc-dev
logs/
*.bun-build
